services:
    _defaults:
        autowire: true
        autoconfigure: true

    ZukunftsforumRissen\CommunityOffersBundle\:
        resource: '../src/'
        exclude:
            - '../src/CommunityOffersBundle.php'
            - '../src/DependencyInjection/'
            - '../src/ContaoManager/'
