parameters:
    enable_debug_logging: true
    enable_logging: true

services:
    _defaults:
        autowire: true
        autoconfigure: true

    ZukunftsforumRissen\CommunityOffersBundle\:
        resource: ../src/
        exclude: ../src/{DependencyInjection,Entity,Tests}
